body {
  background-color: black;
  color: white;
  text-align: center;
}

button {
  width: 100px;
  height: 50px;
}

#red {background-color: red;}
#blue {background-color: blue;}
#yellow {background-color: yellow;}
#green {background-color: green;}
#red, #blue, #yellow, #green {
  border-style: none;
  opacity: 0.6;
  margin: 4px 2px 4px 2px;
}

#red:active, #blue:active, #yellow:active, #green:active {
  opacity: 1 !important;
}