@import "https://rotyflo.github.io/css/theme.css";

:root {
  --red: #E74C3C;
  --blue: #3498DB;
  --green: #1ABC9C;
  --yellow: #F1C40F;
  --panel-size: 100px;
}

body {
  text-align: center;
}

h1 {
  display: inline-block;
}

.panel {
  height: var(--panel-size);
  width: var(--panel-size);
}

#red {
  background-color: var(--red);
}

#blue {
  background-color: var(--blue);
}

#green {
  background-color: var(--green);
}

#yellow {
  background-color: var(--yellow);
}

#red, #blue, #yellow, #green {
  border: 2px solid var(--font-color);
}

#red:active, #blue:active, #yellow:active, #green:active {
  background-color: var(--background-color) !important;
}

.btn {
  border: 2px solid var(--font-color);
}