@import url("https://rotyflo.github.io/css/terminal.css");

:root {
  --red: #E74C3C;
  --blue: #3498DB;
  --green: #1ABC9C;
  --yellow: #F1C40F;
}

body {
  text-align: center;
}

h1 {
  display: inline-block;
}

.panel {
  height: 100px;
  width: 100px;
}

#red {
  background-color: var(--red);
}

#blue {
  background-color: var(--blue);
}

#green {
  background-color: var(--green);
}

#yellow {
  background-color: var(--yellow);
}

#red:active, #blue:active, #yellow:active, #green:active {
  background-color: white !important;
}